html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: rgb(175, 199, 175);
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
}

h1{
    background-color: rgb(126, 145, 126);
    border-radius: 20px;
    box-shadow: 0px 10px rgb(105, 121, 105);
    color: rgb(240, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    padding: 30px 0px;
    text-align: center;
}

.score,
.button-container{
    display: flex;
    justify-content: space-around;
}

.player-score-container,
.comp-score-container{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 300px;
}

.button-container{
    background-color: rgb(188, 212, 188);
    border: 10px dashed rgba(236, 230, 199, 80%);
    border-radius: 20px;
    flex: auto;
    padding: 10px;
}

.buttons{
    align-items: center;
    display: flex;
    flex:auto;
}

.score-bkgd{
    background-color: rgb(152, 172, 152);
    border-radius: 7px;
    color: rgb(240, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 50px;
    padding: 15px;
    transition: all .09s;
    width: fit-content;
}

.size-change{
    border: 5px solid pink;
    box-shadow: 0 0 15px pink;
    transform: scale(1.1);
}

.button-container button{
    align-items: center;
    display: flex;
    background-color: rgb(240, 231, 231);
    border: solid 7px;
    border-radius: 100px;
    color: rgb(175, 199, 175);
    cursor: pointer;
    flex: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 160px;
    justify-content: space-around;
    padding: 20px;
    width: 160px;
}

.result-container{
    display: flex;
    height: 190px;
    justify-content: center;
}

.result{
    align-items: center;
    background-color: rgb(167, 190, 167);
    border: 10px solid rgb(152, 172, 152);
    border-radius: 10px;
    color: rgb(126, 145, 126);
    display: flex;
    flex: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    max-width: 700px;
    text-align: center;
}

.modal{
    background-color: rgba(0,0,0,50%);
    backdrop-filter: blur(4px);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content{
    align-items: center;
    background-color: rgb(152, 172, 152);
    border: 10px dashed rgb(167, 190, 167);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 300px;
    justify-content: center;
    margin: 20% auto;
    padding: 20px;
    max-width: 600px;
}

.play-button{
    background-color: pink;
    border: rgb(240, 231, 231) solid 5px;
    border-radius: 20px;
    color: rgb(219, 173, 181);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    max-width: fit-content;
    padding: 20px;
}

.selectPlayAgain{
    color: rgb(240, 231, 231);
    transform: scale(1.1);
}

.modal-text{
    color: rgb(240, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

